.accordion{
    // .accordion__item
    &__item{
        border: 1px solid #000;
        &:not(:last-child){
            margin-bottom: 10px;
        }
    }
    // .accordion__btn
    &__btn{
        position: relative;
        padding: 15px;
        text-align: left;
        width: 100%;
        border-bottom: 1px solid #000;
        &::after{
            position: absolute;
            right: 15px;
            content: '';
            transition: all .3s ease 0s;
            background: url('../../img/arrow-accordion.svg') 0 0 / cover no-repeat;
            width: 14px;
            height: 14px;
        }
    // .accordion__btn.active
        &.active{
            &::after{
            transform: rotate(180deg);
            }
        }

    }
    // .accordion__content
    &__content{
        overflow: hidden;
        max-height: 0;
        pointer-events: none;
        transition: max-height .3s;
    // .accordion__text.active
        &.active{
            pointer-events: all;   
        }
    }
        // .accordion__text
        &__text{
            padding: 15px;
        }
}