.rating {
    display: flex;  
    align-items: flex-end;
    font-size: 40px;
    &__active {
        position: absolute;
        width: 0%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        &::before{
            position: absolute;
            color: yellow;
            content: '★★★★★';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }

    &__wrapper{
        position: relative;
        &::before{
            content: '★★★★★';
            display: block;
        }
    }
    &__items {
        display: flex;
        flex-direction: row-reverse;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__item {
        flex: 0 0 20%;
        height: 100%;
        opacity: 0;
    }
}
